$classes: "primary","info","success","warning","danger";
$colors: #337ab7,#5cb88c,#5bc0de,#f0ad4e,#d9534f;

.#{nth($classes,1)} {
    background-color: nth($colors,1);
}

.#{nth($classes,2)} {
    background-color: nth($colors,2);
}

.#{nth($classes,3)} {
    background-color: nth($colors,3);
}

.#{nth($classes,4)} {
    background-color: nth($colors,4);
}