.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666666%;
}

.col-3 {
  width: 24.99999999%;
}

.col-4 {
  width: 33.33333332%;
}

.col-5 {
  width: 41.66666665%;
}

.col-6 {
  width: 49.99999998%;
}

.col-7 {
  width: 58.33333331%;
}

.col-8 {
  width: 66.66666664%;
}

.col-9 {
  width: 74.99999997%;
}

.col-10 {
  width: 83.3333333%;
}

.col-11 {
  width: 91.66666663%;
}

.col-12 {
  width: 99.99999996%;
}/*# sourceMappingURL=task3.css.map */