.primary {
  background-color: #337ab7;
}

.info {
  background-color: #5cb88c;
}

.success {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}/*# sourceMappingURL=task4.css.map */