
$widths: 576px,768px,992px,1200px,1400px;
$container-widths: 540px,720px,960px,1140px,1320px;
$class-suffixes: -sm,-md,-lg,-xl,-xxl;
@for $i from 1 to 13{
    .col-#{$i}{
        width: $i / 12 * 100%;
    }
}
@for $i from 1 to 6{
    @media screen and (min-width: nth($widths, $i)){
        .container{
            width: nth($container-widths, $i);
        }
        @for $j from 1 to 13{
            .col#{nth($class-suffixes, $i)-$j}{
                width: ($j / 12 * 100%)
            }
        }
    }
}
